$hijau: #23A228;
$hijau2: #23A228;
$abu: #808080;
$abu_abu: #808080;
$abu_abu2: #F0F0F0;
$abu_abu3: #505050;
$abu_abu4: #CFD8DC;
$abu_abu5: #464646;
$kuning: #23A228;
$hitam: #000000;
$hitam2: #191919;

/**
*   Header ComponentStyle SCSS
*/
@keyframes stickySlideDown {
    0% {
        opacity: 0.7;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/**
* Actived Header Component
*/
.c_advoticsheader.expand {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999899;
    transition: none;
    width: -webkit-fill-available;
    -webkit-animation-name: stickySlideDown;
    animation-name: stickySlideDown;
    animation-direction: normal;
    animation-duration: 0.5s;
    
}

/**
* Not Actived Header Component
*/
.c_advoticsheader {
    z-index: 9999999999099;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-direction: reverse;
    animation-duration: 300ms;
    width: -webkit-fill-available;
    height: 60px;
    box-shadow: 0px 3px 6px #00000029;

    .c_mainListMenuHeader {
        display: contents;
        .c_leftHeader {
            display: flex;
            float: right;
            /**
            *   Logo Header StyleSheet
            */
            .c_advoticsheader_logo {
                cursor: pointer;
                .child_logoHeader {
                    width: 120px;
                    padding: 16px 26px 16px 26px;
                }
            }
        }

        .c_RightMenuHeader {
            display: flex;
            float: left;
            margin-right: 20px;
            z-index: 9999999999099;
            .i_account {
                display: flex;
                flex-direction: row-reverse;
                text-align: center;
                font: normal normal 300 15px Open Sans;
                letter-spacing: 0px;
                color: #727272;
            }
            .i_Right {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 10px;
                
                img {
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                }
            }
            .ii_right_logout {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 10px;
                
                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
            .prnt_img {
                position: relative;
                display: inline-block;
                align-self: center;
            }

            .c_hamburgerRigth {
                a {
                    display: none;
                    position: absolute;
                    right: 20px;
                    .hamburger .line{
                        width: 30px;
                        height: 3px;
                        background-color: #ecf0f1;
                        display: block;
                        margin: 6px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

        }
    }
    /**
    *   Menu Wrapper
    */
    .menu_wrapper {
        display: none;
    }
    /**
    *   Background Header
    */
    .prnt_backgroundHeader {
        position: absolute;
        left: 0;
        right: 0;
        height: 80px;
        .backgroundHeaderadvotics {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
/**
*   End Header ComponentStyle SCSS
*/

@media only screen and (max-width: 768px) {
    /**
    * Actived Header Component
    */
    .c_advoticsheader.expand {
        position: fixed !important;
        top: 0;
        background-color: white;
        z-index: 9999899;
        transition: none;
        width: -webkit-fill-available;
        -webkit-animation-name: stickySlideDown !important;
        animation-name: stickySlideDown !important;
        animation-direction: normal;
        animation-duration: 0.5s;
    }

    .c_advoticsheader {
        z-index: 99;
        background-color: white;
        display: flex;
        align-items: center;
        .c_mainListMenuHeader {

            display: contents;

            .c_leftHeader {
                display: flex;
                float: left;
                z-index: 10 !important;
                /**
                *   Logo Header StyleSheet
                */
                .c_advoticsheader_logo {
                    padding-left: 0%;
                    
                    cursor: pointer;

                    .child_logoHeader {
                        width: 40% !important;
                        padding: 16px 26px 16px 26px;
                    }
                }

                /**
                *   List Menu Header
                */
                .c_listMenuHeader {
                    display: none !important;
                    display: flex;
                    align-items: center;
                    transition: max-height .2s ease-out;
                    ul {
                        list-style-type: none;
                        li {
                            float: left;

                            a {
                                padding: 16px 26px 16px 26px;
                                text-decoration: none;
                                color: $abu;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .c_RightMenuHeader {
                display: flex;
                float: right;
                margin-right: 20px;
                /**
                *   List Menu Header
                */
                .i_account {
                    display: none;
                    
                }
                .c_listMenuHeader {
                    display: none !important;
                    display: flex;
                    align-items: center;
                    transition: max-height .2s ease-out;
                    ul {
                        list-style-type: none;
                        li {
                            float: left;

                            a {
                                padding: 16px 26px 16px 26px;
                                text-decoration: none;
                                color: $abu;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .i_email{
                    display: none !important;
                }
                a {
                    display: none !important;
                    display: flex;
                    justify-content: center;
                    padding: 16px 10px 16px 10px;
                    z-index: 9999;
                    img {
                        width: 60%;
                    }
                }
                .c_inputNavbarSearch {
                    display:none;
                    visibility:hidden;
                    
                }

                .c_hamburgerRigth {
                    position: inherit !important;
                    right: 20px !important;
                    display: block !important;
                    z-index: 999;

                    cursor: pointer;
                    .hamburger .line{
                        width: 30px;
                        height: 3px;
                        background-color: $hitam;
                        display: block;
                        margin: 9px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }

                    #hamburger-1.is-active .line:nth-child(2){
                        opacity: 0;
                    }
                    
                    #hamburger-1.is-active .line:nth-child(1){
                        -webkit-transform: translateY(13px) rotate(45deg);
                        -ms-transform: translateY(13px) rotate(45deg);
                        -o-transform: translateY(13px) rotate(45deg);
                        transform: translateY(13px) rotate(45deg);
                    }
                    
                    #hamburger-1.is-active .line:nth-child(3){
                        -webkit-transform: translateY(-13px) rotate(-45deg);
                        -ms-transform: translateY(-13px) rotate(-45deg);
                        -o-transform: translateY(-13px) rotate(-45deg);
                        transform: translateY(-13px) rotate(-45deg);
                    }
                }

            }
        }

        /**
        *   Menu Wrapper
        */
        .menu_wrapper.isOpen {
            opacity: 1;
            -webkit-transform: none;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            -webkit-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            z-index: 9999;
        }

        .menu_wrapper {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            opacity: 80%;
            overflow: hidden;
            -webkit-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);
            opacity: 0;
            -webkit-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            display: block !important;

            .headerMenuWrapper {
                display: flex;
                justify-content: space-between;
                padding: 15px 20px;
                img {
                    width: 40%;
                }

                .c_hamburgerRigth {
                    position: inherit !important;
                    right: 20px !important;
                    display: block !important;
                    z-index: 999;

                    cursor: pointer;
                    .hamburger .line{
                        width: 30px;
                        height: 3px;
                        background-color: $hitam;
                        display: block;
                        margin: 9px auto;
                        -webkit-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }

                    #hamburger-1.is-active .line:nth-child(2){
                        opacity: 0;
                    }
                    
                    #hamburger-1.is-active .line:nth-child(1){
                        -webkit-transform: translateY(13px) rotate(45deg);
                        -ms-transform: translateY(13px) rotate(45deg);
                        -o-transform: translateY(13px) rotate(45deg);
                        transform: translateY(13px) rotate(45deg);
                    }
                    
                    #hamburger-1.is-active .line:nth-child(3){
                        -webkit-transform: translateY(-13px) rotate(-45deg);
                        -ms-transform: translateY(-13px) rotate(-45deg);
                        -o-transform: translateY(-13px) rotate(-45deg);
                        transform: translateY(-13px) rotate(-45deg);
                    }
                }
            }

            .contentMenuWrapper {
                display: block;
                padding: 15px 20px;

                .listMenu_Wrapper {
                    display: flex;
                    justify-content: center;
                    ul {
                        width: 100%;
                        list-style-type: none;
                        list-style-type: none;
                        padding-inline-start: 0px;
                        margin-block-end: 0px;
                        margin-block-start: 0px;
                        li {
                            text-align: center;
                            a {
                                display: block;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                text-decoration: none;
                                font-weight: bold;
                                font-size: 20px;
                            }
                        }
                    }
                }

                .menuIconWrapper {
                    display: flex;
                    justify-content: center;
                    a {
                        padding: 20px 15px;
                        img {
                            width: 28px;
                        }
                    }

                }
                .prnt_ProfileWrapper.isOpen {
                    opacity: 1;
                    -webkit-transform: none;
                    -webkit-transform: none;
                    -ms-transform: none;
                    transform: none;
                    -webkit-transition: all .5s ease-in-out;
                    -webkit-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    z-index: 9999;
                }
                
            }
        }
    }

}