$background: #F7F7F7;
body, html {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: $background;
    scroll-behavior: smooth;
}
.daterangepicker td.active > .daterangepicker td.active:hover {
    background-color: green;
    border-color: transparent;
    color: #fff;
}
.daterangepicker .ranges li.active {
    background-color: green;
    color: #fff;
}
.swal-button {
    background-color: green;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    cursor: pointer;
}
.swal-button:hover {
    background-color: green;
    color: #fff;
    cursor: pointer;
}
.collapse-css-transition {
    transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#mainMenu {
    // height: 100%;
    background-color: $background;
    .contentHome{
        padding-left: 7%;
        padding-right: 3%;
        padding-top: 20px;
        .title{
            width: 100%;
            display: flex;
            .Left {
                display: flex;
                float: left;
                width: 50%;
                h2{
                    margin-block-start: 0px !important;
                    margin-block-end: 0px !important;
                    font-size: 30px;
                    font-weight: bold;
                    background: #707070C4;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .right {
                display: flex;
                flex-direction: row-reverse;
                width: 50%;

            }
        }
        .collapse{
            width: 100%;
            // height: 20px;
            display: flex;
            background-color: #37B04C;
            margin-top: 30px;
            padding: 10px 0px;
            cursor: pointer;
            .left{
                display: flex;
                width: 50%;
                padding-left: 10px;
                small{
                    font-size: 18px;
                    font-weight: bold;
                    color: white;
                }
            }
            .right{
                display: flex;
                flex-direction: row-reverse;
                width: 50%;
                // justify-content: center;
                align-items: center;
                padding-right: 20px;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .contentCard{
            display: flex;
            margin-top: 20px;
            .Card{
                display: flex;
                flex-direction: column;
                padding: 10px 10px;
                width: 300px;
                // height: 60px;
                background-color: white;
                text-decoration: none;
                box-shadow: 0px 2px 6px #0000000A;
                border: 0.5px solid #CDCDCD;
                .top{
                    display: flex;
                    flex-direction: row;
                    .left{
                        width: 50%;
                        small{
                            
                        }
                    }
                    .right{
                        display: flex;
                        flex-direction: row-reverse;
                        width: 50%;
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    flex-direction: row;
                    .left{
                        display: flex;
                        flex-direction: column;
                        width: 70%;
                        .info{
                            display: flex;
                            flex-direction: row;
                            small{
                                font-size: 12px;
                            }
                            img{
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                    .right{
                        display: flex;
                        width: 30%;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
        .contentMenu{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 20px 0px;
            .CardChart{
                display: flex;
                flex-direction: column;
                padding: 10px 10px;
                width: 50%;
                // height: 60px;
                background-color: white;
                text-decoration: none;
                box-shadow: 0px 2px 6px #0000000A;
                border: 0.5px solid #CDCDCD;
                margin-right: 10px;
                .top{
                    display: flex;
                    flex-direction: row;
                    .left{
                        width: 90%;
                    }
                    .right{
                        display: flex;
                        flex-direction: row-reverse;
                        width: 10%;
                        height: 25px;
                        select{
                            margin-right: 5px;
                            padding: 0px 10px;
                            border:  0.5px solid #CDCDCD;
                        }
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    width: 100%;
                }
            }
            .cardBestSelling{
                display: flex;
                flex-direction: column;
                padding: 10px 20px;
                width: 25%;
                background-color: white;
                text-decoration: none;
                box-shadow: 0px 2px 6px #0000000A;
                border: 0.5px solid #CDCDCD;
                margin-right: 10px;
                // overflow-y: scroll;
                .top{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 5px;
                    .left{
                        width: 90%;
                        small{
                            font-size: 18px;
                            letter-spacing: 0px;
                        }
                    }
                    .right{
                        display: flex;
                        flex-direction: row-reverse;
                        width: 10%;
                        height: 25px;
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .contentItem{
                    display: flex;
                    flex-direction: column;
                    .card{
                        display: flex;
                        background-color: white;
                        text-decoration: none;
                        box-shadow: 0px 2px 6px #0000000A;
                        border: 0.5px solid #C5C5C59C;
                        width: 100%;
                        height: 75px;
                        border-radius: 5px;
                        cursor: pointer;
                        margin: 2px 0px;
                        .left{
                            display: flex;
                            width: 35%;
                            img{
                                width: 100%;
                                border-radius: 5px 0px 0px 5px;
                                height: 100%;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: column;
                            padding: 15px 10px;
                            width: 65%;
                            justify-content: center;
                            .item{
                                display: flex;
                                flex-direction: row;
                                .price{
                                    width: 80%;
                                }
                                .qty{
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
            }
            .cardTopCom{
                display: flex;
                flex-direction: column;
                padding: 10px 20px;
                width: 25%;
                // height: 60px;
                background-color: white;
                text-decoration: none;
                box-shadow: 0px 2px 6px #0000000A;
                border: 0.5px solid #CDCDCD;
                .top{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 5px;
                    .left{
                        width: 90%;
                        small{
                            font-size: 18px;
                            letter-spacing: 0px;
                        }
                    }
                    .right{
                        display: flex;
                        flex-direction: row-reverse;
                        width: 10%;
                        height: 25px;
                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }
                }
                .contentItem{
                    display: flex;
                    flex-direction: column;
                    .card{
                        display: flex;
                        background-color: white;
                        text-decoration: none;
                        box-shadow: 0px 2px 6px #0000000A;
                        border: 0.5px solid #C5C5C59C;
                        width: 100%;
                        height: 75px;
                        border-radius: 5px;
                        cursor: pointer;
                        margin: 2px 0px;
                        .left{
                            display: flex;
                            width: 35%;
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 5px 0px 0px 5px;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: column;
                            padding: 15px 10px;
                            width: 65%;
                            justify-content: center;
                            .item{
                                display: flex;
                                flex-direction: row;
                                .price{
                                    width: 80%;
                                }
                                .qty{
                                    width: 20%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    #mainMenu {
        // height: 100%;
        background-color: $background;
        .contentHome{
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 20px;
            .title{
                width: 100%;
                display: flex;
                flex-direction: column;
                .Left {
                    display: flex;
                    float: left;
                    width: 50%;
                    h2{
                        margin-block-start: 0px !important;
                        margin-block-end: 0px !important;
                        font-size: 30px;
                        font-weight: bold;
                        background: #707070C4;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .right {
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
    
                }
            }
            .contentCard{
                display: flex;
                margin-top: 20px;
                .Card{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px;
                    width: 100%;
                    // height: 60px;
                    background-color: white;
                    text-decoration: none;
                    box-shadow: 0px 2px 6px #0000000A;
                    border: 0.5px solid #CDCDCD;
                    .top{
                        display: flex;
                        flex-direction: row;
                        .left{
                            width: 50%;
                            small{
                                
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: row-reverse;
                            width: 50%;
                            img{
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        flex-direction: row;
                        .left{
                            display: flex;
                            flex-direction: column;
                            width: 70%;
                            .info{
                                display: flex;
                                flex-direction: row;
                                small{
                                    font-size: 12px;
                                }
                                img{
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                        .right{
                            display: flex;
                            width: 30%;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
            .contentMenu{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 20px 0px;
                .CardChart{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px;
                    width: 100%;
                    // height: 60px;
                    background-color: white;
                    text-decoration: none;
                    box-shadow: 0px 2px 6px #0000000A;
                    border: 0.5px solid #CDCDCD;
                    margin-right: 10px;
                    .top{
                        display: flex;
                        flex-direction: row;
                        .left{
                            width: 100%;
                        }
                        .right{
                            display: flex;
                            flex-direction: row-reverse;
                            width: 10%;
                            height: 25px;
                            select{
                                margin-right: 5px;
                                padding: 0px 10px;
                                border:  0.5px solid #CDCDCD;
                            }
                            img{
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        width: 100%;
                    }
                }
                .cardBestSelling{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 20px;
                    width: 90%;
                    background-color: white;
                    text-decoration: none;
                    box-shadow: 0px 2px 6px #0000000A;
                    border: 0.5px solid #CDCDCD;
                    margin-top: 20px;
                    margin-right: 10px;
                    // overflow-y: scroll;
                    .top{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        .left{
                            width: 90%;
                            small{
                                font-size: 18px;
                                letter-spacing: 0px;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: row-reverse;
                            width: 10%;
                            height: 25px;
                            img{
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                    .contentItem{
                        display: flex;
                        flex-direction: column;
                        .card{
                            display: flex;
                            background-color: white;
                            text-decoration: none;
                            box-shadow: 0px 2px 6px #0000000A;
                            border: 0.5px solid #C5C5C59C;
                            width: 100%;
                            height: 75px;
                            border-radius: 5px;
                            cursor: pointer;
                            margin: 2px 0px;
                            .left{
                                display: flex;
                                width: 35%;
                                img{
                                    width: 100%;
                                    border-radius: 5px 0px 0px 5px;
                                    height: 100%;
                                }
                            }
                            .right{
                                display: flex;
                                flex-direction: column;
                                padding: 15px 10px;
                                width: 65%;
                                justify-content: center;
                                .item{
                                    display: flex;
                                    flex-direction: row;
                                    .price{
                                        width: 80%;
                                    }
                                    .qty{
                                        width: 20%;
                                    }
                                }
                            }
                        }
                    }
                }
                .cardTopCom{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 20px;
                    width: 90%;
                    margin-top: 20px;
                    // height: 60px;
                    background-color: white;
                    text-decoration: none;
                    box-shadow: 0px 2px 6px #0000000A;
                    border: 0.5px solid #CDCDCD;
                    .top{
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 5px;
                        .left{
                            width: 90%;
                            small{
                                font-size: 18px;
                                letter-spacing: 0px;
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: row-reverse;
                            width: 10%;
                            height: 25px;
                            img{
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                            }
                        }
                    }
                    .contentItem{
                        display: flex;
                        flex-direction: column;
                        .card{
                            display: flex;
                            background-color: white;
                            text-decoration: none;
                            box-shadow: 0px 2px 6px #0000000A;
                            border: 0.5px solid #C5C5C59C;
                            width: 100%;
                            height: 75px;
                            border-radius: 5px;
                            cursor: pointer;
                            margin: 2px 0px;
                            .left{
                                display: flex;
                                width: 35%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 5px 0px 0px 5px;
                                }
                            }
                            .right{
                                display: flex;
                                flex-direction: column;
                                padding: 15px 10px;
                                width: 65%;
                                justify-content: center;
                                .item{
                                    display: flex;
                                    flex-direction: row;
                                    .price{
                                        width: 80%;
                                    }
                                    .qty{
                                        width: 20%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}